@font-face{
    font-family: 'proxima-nova-bold';
    src: url('../fonts/proxima-nova-bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'proxima-nova-regular';
    src: url('../fonts/proxima-nova-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'proxima-nova-bold', sans-serif;
    color: #1E2E36;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #1E2E36;
}

span {
    display: inline-block;
}

li {
    list-style: none;
}

h2.title{
    font-size: 48px;
    line-height: 125%;
    position: relative;
    display: inline-block;
    padding-bottom: 52px;
}

h2.title::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 50px;
    top: 2px;
    left: -5px;
    background: #44C697;
    z-index: -2;
}

/*========================*/

.container{
    padding: 19px 51px;
    justify-content: space-between;
    border-bottom: 1px solid #1E2E36;
}

.container .wrapper{
    padding: 0;
}

.container,
.wrapper,
.menu,
.social,
.phone{
    display: flex;
    align-items: center;
}

.social_text{
font-size: 18px;
}

.social_links a{
    width: 22px;
    height: 25px;
    margin-left: 34px;
}

.social_links a:first-child{
    margin-left: 13px;
}

.social_links a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.phone{
    margin-left: 66px;
}

.phone img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;
}

.phone a{
    margin: 0 10px;
}

.phone div span{
    position: relative;
}

.phone div span::before,
.phone div span::after{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 10px;
    height: 2px;
    background: #1E2E36;
    transform: rotate(40deg);
}

.phone div span::after{
    left: 6px;
    transform: rotate(-45deg);
}

.menu li{
    padding: 0 0 0 15px;
}

.menu li a {
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
}

.menu li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #44C697;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}

.menu li > a:hover:before,
.menu li > a:focus:before {
    visibility: visible;
    transform: scaleX(1);
}

/* HEADER */

nav ul,
nav {
    display: flex;
    align-items: center;
}

nav ul li{
    padding-right: 38px;
    text-transform: uppercase;
    position: relative;
}

nav ul li a{
    font-size: 18px;
}

nav ul li::after,
nav ul li::before{
    content: '';
    position: absolute;
    top: 10px;
    right: 20px;
    width: 10px;
    height: 2px;
    background: #1E2E36;
    transform: rotate(40deg);
}

nav ul li::after{
    right: 14px;
    transform: rotate(-45deg);
}

.logo{
    margin-left: 120px;
}

.logo a{
    width: 360px;
    height: 75px;
}

.logo a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.order{
    display: flex;
}

.order_basket{
    display: flex;
    align-items: center;
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 18px;
}

.order_basket img{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
}

.order_btn{
    width: 278px;
}

.order_btn a{
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #44C697;
    padding: 14px 46px;
    transition: all .2s;
}

.order_btn a:hover,
.content .content_btn a:hover{
    color: #44C697;
    background-color: #fff;
}

/* BANNER SECTION */

.banner{
    background-image: url(../../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 785px;
}

.content{
    background-color: #fff;
    border-left: 15px solid #44C697;
    max-width: 462px;
    width: 100%;
    min-height: 670px;
    text-align: center;
    margin-left: 51px;
    overflow: hidden;
}

.content .title{
    font-size: 64px;
    line-height: 100%;
    padding: 99px 0 50px;
}

.content .subtitle{
    font-size: 36px;
    line-height: 125%;
    margin: 50px 0 10px;
}

.content .text{
    font-size: 36px;
    line-height: 125%;
    margin-bottom: 30px;
    font-family: 'proxima-nova-regular';
}

.content .content_btn{
    width: 210px;
    margin: 0 auto;
}

.content .content_btn a{
    font-size: 18px;
    line-height: 125%;
    color: #fff;
    background: #44C697;
    border-radius: 3px;
    padding: 14px 46px;
    text-transform: uppercase;
    transition: all .2s;
}

.content .slider_number{
    font-size: 24px;
    line-height: 125%;
    text-transform: uppercase;
    margin: 50px 0 5px;
}

.content .slider_number span span{
    font-size: 36px;
}

.slick-prev,
.slick-next{
    width: 30px;
    height: 30px;
    border: 1px solid #1E2E36;
    font-size: 0;
    border-radius: 50%;
    position: absolute;
    bottom: -35px;
    right: 0;
    left: -40px;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s;
    background-color: #fff;
}

.slick-prev::before,
.slick-prev::after,
.slick-next::before,
.slick-next::after{
    content: '';
    width: 2px;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: 6px;
    left: 12px;
    transform: rotate(45deg);
}

.slick-prev::after,
.slick-next::after{
    transform: rotate(-45deg);
    top: 12px;
}

.slick-next{
    left: 40px;
}

.slick-next::before{
    transform: rotate(-45deg);
}

.slick-next::after{
    transform: rotate(45deg);
}

.slick-prev:hover,
.slick-next:hover{
    background-color: #000;
}

.slick-prev:hover::after,
.slick-next:hover::after,
.slick-next:hover::before,
.slick-prev:hover::before{
    background-color: #fff;
}

/* ADVANTAGES SECTION */

.advantages{
    padding: 100px 50px;
    text-align: center;
}

.advantages_slider{
    display: flex;
    justify-content: space-between;
}

.item_wrap{
    width: 585px;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding-left: 30px;
    cursor: pointer;
}

.item_title{
    display: inline-block;
    font-size: 36px;
    line-height: 125%;
    color: #FFFFFF;
    border-bottom: 3px solid #44C697;
    margin-bottom: 15px;
}

.item_text{
    font-size: 18px;
    line-height: 125%;
    color: #FFFFFF;
    font-family: 'proxima-nova-regular';
    font-weight: 400;
    text-align: left;
    margin: 0 0 30px;
    display: none;
}

.item_wrap:hover .item_text{
    display: block;
}

.advantages_slider .slick-prev,
.advantages_slider .slick-next{
    top: 50%;
    margin: 0;
    left: 15px;
    z-index: 5;
    transform: translateY(-50%);
    background: transparent;
}

.advantages_slider .slick-next{
    right: 30px;
    left: auto;
}

.advantages_slider .slick-prev,
.advantages_slider .slick-next{
    border: 1px solid #FFFFFF
}

.advantages_slider .slick-prev::after,
.advantages_slider .slick-next::after,
.advantages_slider .slick-prev::before,
.advantages_slider .slick-next::before{
    background-color: #fff;
}

.advantages_slider .slick-prev:hover::after,
.advantages_slider .slick-next:hover::after,
.advantages_slider .slick-next:hover::before,
.advantages_slider .slick-prev:hover::before{
    background-color: #000;
}

.advantages_slider .slick-next:hover,
.advantages_slider .slick-prev:hover{
    background-color: #fff;
}

/* CATALOG SECTION */

.catalog{
    text-align: center;
}

.catalog .title{
    margin-bottom: 50px;
}

.catalog_menu{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 37px;
}

.catalog_menu li a{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    position: relative;
}

.catalog_menu li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #44C697;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
  
.catalog_menu li a:hover::after,
.catalog_menu li a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}


.catalog_menu li a::after {
  transform: translate3d(-100%, 0, 0);
}

.catalog_menu li a:hover::after,
.catalog_menu li a:focus::after{
  transform: translate3d(0, 0, 0);
}
  

.catalog_menu li a svg{
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}

.catalog_menu li a:hover svg path{
    fill: #44C697;
    transition: all .2s;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px 50px;
}

.card{
    width: 586px;
    position: relative;
    margin-top: 50px;
}

.new{
    font-size: 18px;
    line-height: 22.5px;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    text-transform: uppercase;
}

.promotions{
    font-size: 18px;
    line-height: 22.5px;
    padding: 5px 15px;
    background-color: #FF1B1B;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 48px;
    left: 0;
    text-transform: uppercase;
}

.card_img{
    width: 585px;
    height: 300px;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.card_info{
    display: flex;
    padding: 15px;
    justify-content: space-between;
    font-size: 24px;
    line-height: 30px;
}

.card:hover .card_info{
    background: #44C697;
    color: #fff;
    transition: all .4s;
}

.catalog_btn{
    width: 190px;
    margin: 0 auto;
}

.catalog_btn a{
    line-height: 23px;
    font-size: 18px;
    padding: 14px 46px;
    background-color: #44C697;
    color: #fff;
    text-transform: uppercase;
    transition: all .2s;
}

.catalog_btn a:hover{
    background-color: #fff;
    color: #44C697;
}

/* ABOUT SECTION */

.about{
    margin: 100px 0;
    text-align: center;
}

.about_content{
    background-image: url(../../img/about-bg.jpg);
    min-height: 675px;
    background-repeat: no-repeat;
    background-position: right;
    padding: 100px 0;
}

.about_container{
    border-right: 15px solid #44C697;
    max-width: 791px;
    background-color: #fff;
    padding: 50px 30px 50px 50px;
}

.about_text span{
    color: #44C697;
}

.about_text{
    max-width: 710px;
    font-size: 18px;
    line-height: 22.5px;
    text-align: left;
    margin-top: 15px;
    font-family: 'proxima-nova-regular';
}

/* QUESTION SECTION */

.question{
    margin: 100px 0;
    text-align: center;
}

.question_content{
    background-image: url(../../img/questions-bg.jpg);
    min-height: 675px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 100px 0;
}

.question_container{
    max-width: 513px;
    border-left: 15px solid #44C697;
    text-align: center;
    background-color: #fff;
    padding: 50px 50px 50px 30px;
    margin-left: auto;
}

.question_title{
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 30px;
}

.question_form{
    display: flex;
    flex-direction: column;
}

.question_form input{
    max-width: 432px;
    padding: 14px 15px;
    outline: none;
    margin-bottom: 15px;
    border-radius: 3px;
    font-family: 'proxima-nova-regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #1E2E36
}

.question_form button{
    background-color: #44C697;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    padding: 14px 0;
    border: none;
    transition: all .2s;
}

.question_form button:hover{
    background-color: #fff;
    color: #44C697;
}

.question_text{
    margin-top: 30px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    font-family: 'proxima-nova-regular';
    font-weight: 400;
}

.question_text span{
    font-family: 'proxima-nova-bold';
}

/* FOOTER */

.footer,
.footer a{
    color: #FFFFFF;
}

.footer .logo{
    margin-left: 0;
}

.footer_content{
    background-image: url(../../img/footer-bg.jpg);
    min-height: 520px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.footer_container{
    max-width: 815px;
    padding: 50px 50px 0 50px;
    background-color: #1E2E36;
    display: flex;
}

.footer_menu{
    width: 357px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.footer_menu div ul li{
    font-size: 18px;
    line-height: 22.5px;
    padding-bottom: 15px;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
}

.footer_menu div ul li::before{
    content: '';
    width: 10px;
    height: 2px;
    background-color: #44C697;
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
}

.footer_menu div ul li a:hover{
    color: #44C697;
    transition: all .2s;
}

.copyright{
    font-family: 'proxima-nova-regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 100px 0 15px;
}

.footer_contact{
    margin: 120px 0 0 90px;
}

.location,
.date,
.tel{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    font-family: 'proxima-nova-regular';
    font-weight: 400;
}

.location img,
.date img,
.tel img{
    margin-right: 7px;
}

.tel{
    align-items: flex-start;
}

.tel a span{
    display: block;
}

.tel a{
    color: #44C697;
}

.social_text{
    font-size: 18px;
    line-height: 22px;
    font-family: 'proxima-nova-regular';
    font-weight: 400;
}

.contact_social .social_links{
    margin: 15px 0 108px;
}

.contact_social .social_links a img{
    width: 40px;
    height: 40px;
    object-position: center;
    object-fit: contain;
}

.site{
    display: flex;
    align-items: center;
    font-family: 'proxima-nova-regular';
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
}

.site img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    object-position: center;
    margin-right: 7px;
}